@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
}

body {
	font-family: 'Nunito', sans-serif;
	height: 100vh;
}

header {
	text-align: center;
	background-color: $color-primary;
	color: $color-grey-900;
	padding: 5px;
	margin-bottom: 3rem;

	h1 {
		font-size: 3rem;
	}
}

.hidden {
	visibility: hidden;
}
.cell-clicked {
	pointer-events: none;
}

.cell-clicked::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
    font-family: 'Fuzzy Bubbles', cursive;
	font-size: 5.5rem;
	font-weight: bold;
	color: $color-primary;
    transform-origin: left bottom;
    animation: mark-cell .3s ease-in  1 ;
}
.cell-clicked-player1::before {
	content: 'o';
}
.cell-clicked-player2::before {
	content: 'x';
}
.game {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;

	.players {
		align-self: flex-start;
		margin-bottom: 3rem;

		.player {
			display: flex;
			flex-direction: column;
			position: relative;
			align-items: end;
			border: none;
			padding: 0.5rem 1.5rem;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			box-shadow: 0 0 5px $color-grey-200;
			color: $color-primary;
			font-size: 1.2rem;
			font-weight: bold;

            .player-symbol {
                font-family: 'Fuzzy Bubbles', cursive;
                font-weight: bold;
                font-size: 1.5rem;
                margin-left: 0.5rem;
                color: $color-primary;
                text-shadow: 0 0 1px $color-grey-900
            }
			i {
				color: $color-grey-400;
				font-size: 1rem;
				cursor: pointer;
			}
		}

		.player1 {
			background-color: $color-grey-200;
			width: 70vw;
			margin-bottom: 0.5rem;
		}
		.player2 {
			background-color: $color-grey-100;
			width: 60vw;
			box-shadow: 0 0 5px $color-grey-100;
		}


		.player.active::after {
			position: absolute;
			right: -3rem;
			top: calc(50% - 0.75rem);
			content: '';
			background-color: $color-accent;
			border-radius: 100%;
			height: 1.5rem;
			width: 1.5rem;
            animation: show-active .4s ease  1 normal;
		}
	}

	.btn {
		border: 3px solid $color-primary;
		border-radius: 10px;
		background: none;
		font-size: 1rem;
		font-family: 'Nunito', sans-serif;
		color: $color-grey-900;
		font-weight: bold;
		box-shadow: 0 0 5px $color-grey-400;
		padding: 5px 10px;
		cursor: pointer;
		transition: background-color.3s;
	}

	.btn:hover,
	.btn:active {
		background-color: $color-primary;
	}

	.game-end-msg {
		margin-top: 3rem;
		margin-bottom: 0.5rem;
		text-align: center;
        padding: 0 0.5rem;
	}

	.board {
		display: grid;
		grid-template-columns: repeat(3, minmax(60px, 120px));
		gap: 5px;
		padding: 0 1rem;
        list-style: none;

		.cell {
			position: relative;
			aspect-ratio: 1;
			border-radius: 10px;
			background-color: $color-grey-100;
			cursor: pointer;
		}
	}

	.edit-name-popup {
        position: absolute;
		width: 100%;
		height: 110%;
        left: 0;
        top:-48px;
		background-color: rgba(0, 0, 0, 0.12);

		.popup-inner {
			position: absolute;
			top: 3rem;
			right: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
			width: 320px;
			max-width: 90vw;
			background-color: #fff;
			transform: translateX(50%);
			border: 3px solid $color-primary;
			border-radius: 10px;

			.close-btn {
				align-self: flex-end;
				color: $color-primary;
				cursor: pointer;
				padding: 0.5rem;
			}
			input {
				border: 1px solid $color-grey-400;
				border-radius: 5px;
				width: 90%;
				padding: 0.2rem;
				outline: none;
			}
			input:focus {
				border-color: $color-grey-900;
			}

			.btn {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@keyframes show-active {
    0%{transform: scale(0);}
    50%{transform:scale(1.1);}
    100%{transform: scale(1);}

}
@keyframes mark-cell {
    0%{opacity:0}
    100%{opacity:1;}

}