$color-primary: rgb(89, 84, 177);
$color-accent: rgb(249, 248, 113);
$color-grey-100: rgb(222, 222, 222);
$color-grey-200: rgb(194, 191, 191);
$color-grey-400: rgb(120, 120, 120);
$color-grey-900: rgb(48, 46, 46);
