.btn {
  border: 3px solid #5954b1;
  border-radius: 10px;
  background: none;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  color: #302e2e;
  font-weight: bold;
  box-shadow: 0 0 5px #787878;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #5954b1;
}

.modal-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.edit-name-popup {
  position: absolute;
  top: 3rem;
  right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 320px;
  max-width: 90vw;
  background-color: #fff;
  transform: translateX(50%);
  border: 3px solid #5954b1;
  border-radius: 10px;
  padding: 0.8rem;
  z-index: 10;
}
.edit-name-popup .close-btn {
  align-self: flex-end;
  color: #5954b1;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.8rem;
}
.edit-name-popup input {
  border: 1px solid #787878;
  border-radius: 5px;
  width: 90%;
  padding: 0.5rem;
  outline: none;
  font-size: 1.6rem;
}
.edit-name-popup input:focus {
  border-color: #302e2e;
}
.edit-name-popup label {
  font-weight: bold;
  font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
}

header {
  text-align: center;
  background-color: #5954b1;
  color: #302e2e;
  padding: 5px;
  margin-bottom: 3rem;
}
header h1 {
  font-size: 4rem;
}

.hidden {
  visibility: hidden;
}

.cell-clicked {
  animation: mark-cell 0.5s ease-in 1;
  pointer-events: none;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.game .players {
  align-self: flex-start;
  margin-bottom: 3rem;
}
.game .players .player {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  border: none;
  padding: 0.5rem 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px #c2bfbf;
  color: #5954b1;
  font-size: 1.8rem;
  font-weight: bold;
}
.game .players .player .player-symbol {
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: #5954b1;
  text-shadow: 0 0 1px #302e2e;
}
.game .players .player i {
  color: #787878;
  font-size: 1.2rem;
  cursor: pointer;
}
.game .players .player1 {
  background-color: #c2bfbf;
  width: 70vw;
  margin-bottom: 0.5rem;
}
.game .players .player2 {
  background-color: #dedede;
  width: 60vw;
  box-shadow: 0 0 5px #dedede;
}
.game .players .player.active::after {
  position: absolute;
  right: -3rem;
  top: calc(50% - 0.75rem);
  content: "";
  background-color: #f9f871;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  animation: show-active 0.4s ease 1 normal;
}
.game .game-end-msg {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0 0.5rem;
  font-size: 1.8rem;
}
.game .board {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 120px));
  gap: 5px;
  padding: 0 1rem;
  list-style: none;
}
.game .board .cell {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: #dedede;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 5.5rem;
  font-weight: bold;
  color: #5954b1;
  cursor: pointer;
}

@keyframes show-active {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mark-cell {
  0% {
    color: rgba(194, 106, 106, 0);
  }
  100% {
    color: #5954b1;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 75%;
  }
}

/*# sourceMappingURL=main.css.map */
